<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/jquery-layout/jquery.layout-latest.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>

<body class="gray-bg">

	<div class="container-div ui-layout-center">
		<div class="row">
			<form id="user-form">
				<input type="hidden" id="departfartherid" name="departfartherid" value="0">
			</form>
			<div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" >
					<i class="fa fa-plus"></i> 新增
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" >
					<i class="fa fa-edit"></i> 修改
				</a>

			</div>
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script th:src="@{/ajax/libs/jquery-layout/jquery.layout-latest.js}"></script>
	<script th:src="@{/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
	<script th:inline="javascript">

		var prefix = ctx + "system/custom";

		$(function() {
			$('body').layout({ west__size: 185 });
			queryUserList();
		});

		function queryUserList() {
		    var options = {
		        url: prefix + "/organPage",
                createUrl: prefix + "/addOrgan",
                updateUrl: prefix + "/editOrgan/{id}",
                removeUrl: prefix + "/delOrgan/{id}",
		        sortName: "createTime",
		        sortOrder: "desc",
		        modalName: "用户",
		        search: false,
		        showExport: false,
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'id',
		            title: '编号'
		        },
		        {
		            field: 'organname',
		            title: '客户名',
		        },
		        {
		            field: 'leader',
		            title: '联系人'
		        },
				{
                    field: 'handtel',
                    title: '手机号'
				},
				{
					field: 'address',
					title: '地址'
				},
				{
					title: '操作',
					align: 'left',
					formatter: function(value, row, index) {
						if (row.id != 0) {
							var actions = [];
							actions.push('<a class="btn btn-danger btn-xs" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove">删除</i></a>');
							return actions.join('');
						} else {
							return "";
						}
					}
				}]
		    };
		    $.table.init(options);
		}
		function remove(id){
            $.ajax({
                type: "POST",
                url: prefix+"/delDepa",
                data:{"departid":id},
                dataType: "text",
                success: function(result){
                    //alert("保存成功");
					alert(result);
                },
            })

		}
		function queryDeptTree()
		{
			var url = prefix + "/depaTree";
			var options = {
		        url: url,
		        expandLevel: 2,
		        onClick : zOnClick,

		    };
			$.tree.init(options);
			function zOnClick(event, treeId, treeNode) {
				$("#departfartherid").val(treeNode.id);
				$.table.search();
			}
		}

		$('#btnExpand').click(function() {
			$._tree.expandAll(true);
		    $(this).hide();
		    $('#btnCollapse').show();
		});

		$('#btnCollapse').click(function() {
			$._tree.expandAll(false);
		    $(this).hide();
		    $('#btnExpand').show();
		});

		$('#btnRefresh').click(function() {
			queryDeptTree();
		});

		/*用户管理-部门*/
		function dept() {
			var url = ctx + "system/dept";
			createMenuItem(url, "部门管理");
		}

		/*用户管理-重置密码*/
		function resetPwd(userId) {
		    var url = prefix + '/resetPwd/' + userId;
		    $.modal.open("重置密码", url, '800', '300');
		}
	</script>
</body>
</html>