<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>平治介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
<div class="row  border-bottom white-bg dashboard-header">
</div>
<div class="wrapper wrapper-content">
	<div class="wrapper wrapper-content">
		<div class="row">
			<div class="col-sm-3">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<span class="label label-success pull-right">今日</span>
						<h5>车辆抓拍</h5>
					</div>
					<div class="ibox-content">
						<h1 class="allBlog no-margins" style="text-align: center;">5</h1>
						<div class="allBlogPercent stat-percent font-bold text-navy">
						</div>
						<small></small>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<span class="label label-danger pull-right">今日</span>
						<h5>道闸抓拍</h5>
					</div>
					<div class="ibox-content">
						<h1 class="draft no-margins" style="text-align: center;">18</h1>
						<div class="draftPercent stat-percent font-bold text-warning">
						</div>
						<small></small>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<span class="label label-warning pull-right">今日</span>
						<h5>电子围栏抓拍</h5>
					</div>
					<div class="ibox-content">
						<h1 class="nowBlog no-margins" style="text-align: center;">100</h1>
						<div class="nowBlogPercent stat-percent font-bold text-danger">
						</div>
						<small></small>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<span class="label label-info pull-right">今日</span>
						<h5>总计抓拍</h5>
					</div>
					<div class="ibox-content">
						<h1 class="nowVisitors no-margins" style="text-align: center;">16</h1>
						<div
								class="nowVisitorsPercent stat-percent font-bold text-success">
						</div>
						<small></small>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<span class="label label-success pull-right">总数</span>
						<h5>车辆累计抓拍</h5>
					</div>
					<div class="ibox-content">
						<h1 class="resource no-margins" style="text-align: center;">12</h1>
						<div class="resourcePercent stat-percent font-bold text-navy">
						</div>
						<small></small>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<span class="label label-danger pull-right">总数</span>
						<h5>道闸累计抓拍</h5>
					</div>
					<div class="ibox-content">
						<h1 class="delete no-margins " style="text-align: center;">16</h1>
						<div class="deletePercent stat-percent font-bold text-warning">
						</div>
						<small></small>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<span class="label label-warning pull-right">总数</span>
						<h5>电子围栏累计抓拍</h5>
					</div>
					<div class="ibox-content">
						<h1 class="yesBlog no-margins" style="text-align: center;">1880</h1>
						<div class="yesBlogPercent stat-percent font-bold text-danger">
						</div>
						<small></small>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<span class="label label-info pull-right">总数</span>
						<h5>累计总计抓拍</h5>
					</div>
					<div class="ibox-content">
						<h1 class="visitors no-margins" style="text-align: center;">2868</h1>
						<div class=" stat-percent font-bold text-success">
							<i class="fa fa-bolt"></i>
						</div>
						<small></small>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
